@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100vh;
  width: 100%;
}
div{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #121212;
  font-size: .9em;
}
div p{
  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  pointer-events: none;
}

div .p{
  color: #fff;
}

div .j{
  color: #666666
}

.p {
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
}