@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100vh;
  width: 100%;
}
div{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #121212;
  color: #fff;
  font-size: .9em;
}
div p{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.bottom-credit {
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #666666;           /* darker gray */
  font-size: 12px;
  opacity: 0.5;             /* very subtle */
  letter-spacing: 0.4px;
  pointer-events: none;
  z-index: 5;
}
